<!DOCTYPE html>
<html>
	<head>
		<title>Product Catalog</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui top fixed inverted menu">
			<div class="ui container">
				 <div class="header item">
				 	<a href="/home"><strong>Product Catalog</strong></a>
				 </div>
				 <div class="right menu">
				 	<a class="ui item" href="/addProduct">Add Product</a>
				 </div>
			</div>
		</div><br><br><br>